:root {
  --bs-font-sans-serif: 'Fira Sans', 'Noto Sans JP', sans-serif;
  --bs-font-monospace: 'Fira Code', monospace;
}
body {
  width: min(80%, 1200px);
  margin: 0 auto;
}
header h1 {
  font-weight: 700 !important;
  font-size: 1.5em;
  display: inline-block;
  color: white;
  background: black;
  padding: 0.3em;
}
header nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: left;
}
header nav ul li::before {
  content: "[";
}
header nav ul li::after {
  content: "]";
}
main {
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: grid;
}
main :is(h1, h2, h3, h4, h5) {
  font-family: 'Fira Sans Condensed', sans-serif;
}
@media (min-width: 768px) {
  main {
    grid-template-columns: 250px 1fr;
  }
}
@media (max-width: 767px) {
  main {
    grid-template-columns: 0px 1fr;
  }
}
.toc {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  position: sticky;
  top: 0px;
}
.is-active-link::before {
  background-color: black;
}
mjx-container[display="block"] {
  display: block;
  margin: 1em 0;
}
